h1 {
  position: relative;
  font-family: "Lora", serif;
}

nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100px;
  height: 20px;
  margin: 0;
  padding: 0;
}

div.studyGroup {
  margin: 20px;
  padding: 20px;
}
