li {
  color: blue;
}

.red {
  width: 100px;
  height: 100px;
}

.blue {
  padding: 10px 10px 10px 10px;
}

div,
span {
  width: 80px;
  height: 80px;
  margin: 20px;
}

div {
  background: red;
  display: inline-block;
}

span {
  background: blue;
}
